@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
  @apply bg-gray-300 h-screen
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
